.card-container {
	display: block;
	width: 100%;
	float: left;
	margin-top: 40px;
}

.card-block__head {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
	width: 100%;
	margin-bottom: 25px;
}

.card-block__title {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
				-moz-box-flex: 1;
					-ms-flex-positive: 1;
									flex-grow: 1;
	padding-right: 10px;
	-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
	overflow: hidden;
}

.card-block__title h1 {
	font: 700 60px/73px "Montserrat";
	color: #FFFFFF;
	margin: 0 !important;
}

.card-block__actions {
	-webkit-flex-shrink: 0;
					-ms-flex-negative: 0;
									flex-shrink: 0;
}

.card-block__action-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
	margin-left: -15px;
	margin-right: -15px;
}

.card-block__action-list li {
	padding-left: 15px;
	padding-right: 15px;
}

.card-btn__action {
	font: 700 20px/24px "Montserrat";
	color: #FFFFFF;
	padding: 24.5px 30px;
	-webkit-border-radius: 54px;
				-moz-border-radius: 54px;
									border-radius: 54px;
	border: 0;
	text-decoration: none;
	-webkit-transition: background 0.25s;
	-o-transition: background 0.25s;
	-moz-transition: background 0.25s;
	transition: background 0.25s;
	display: block;
}

.btn-style--black {
	background: #282828;
}

.btn-style--orange {
	background: #FF6600;
}

.btn-style--arrow {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
				-moz-box-align: center;
					-ms-flex-align: center;
									align-items: center;
	position: relative;
}

.btn-icon--arrow {
	margin-left: 17px;
	-webkit-flex-shrink: 0;
					-ms-flex-negative: 0;
									flex-shrink: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
				-moz-box-align: center;
					-ms-flex-align: center;
									align-items: center;
}

.btn-icon--arrow img {
	display: inline-block;
}

html:not(.bx-touch) .btn-style--black:hover {
	background: #FF6600;
}

html:not(.bx-touch) .btn-style--orange:hover {
	background: #282828;
}

.card-block__tags {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 25px;
}

.card-tags__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
					-ms-flex-wrap: wrap;
									flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
}

.card-tags__list li {
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px 0;
}

.card-tags__btn {
	font: 500 14px/17px "Montserrat";
	color: #FFFFFF;
	border: 1px solid rgba(255, 255, 255, 0.3);
	-webkit-border-radius: 100px;
				-moz-border-radius: 100px;
									border-radius: 100px;
	padding: 11px 20px 7px;
	text-decoration: none;
	-webkit-transition: border-color 0.25s, background 0.25s;
	-o-transition: border-color 0.25s, background 0.25s;
	-moz-transition: border-color 0.25s, background 0.25s;
	transition: border-color 0.25s, background 0.25s;
	display: block;
}

html:not(.bx-touch) .card-tags__btn:hover {
	border-color: #FF6600;
	background: #FF6600;
}

.card-block__slider {
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 24px;
	position: relative;
	width: -webkit-calc(100% + 400px);
	width: -moz-calc(100% + 400px);
	width: calc(100% + 400px);
	overflow: hidden;
}

.card-main__slider:not(.swiper-container-initialized) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
	width: 100%;
}

.card-main__slider:not(.swiper-container-initialized) .card-main__slide {
	-webkit-flex-shrink: 0;
					-ms-flex-negative: 0;
									flex-shrink: 0;
	margin-right: 30px;
}

.card-main__slider .swiper-button-prev {
	left: 28px;
}

.card-main__slider .swiper-button-next {
	right: 321px;
}

.card-main__slide {
	display: block;
	float: left;
	width: auto;
}

.card-main__slide-block {
	display: block;
	float: left;
	position: relative;
}

.card-main__slide:not(.swiper-slide-active) .card-main__slide-block {
	opacity: 0.3;
}

.card-main__slide-favorite {
	background: #FFFFFF;
	-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
									border-radius: 5px;
	width: 70px;
	height: 70px;
	position: absolute;
	z-index: 5;
	top: 50px;
	right: 50px;
	display: block;
}

.card-main__slide-favorite img {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
				-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
						-o-transform: translate(-50%, -50%);
									transform: translate(-50%, -50%);
	-webkit-transform: -webkit-translate(-50%, -50%);
									transform: -webkit-translate(-50%, -50%);
	-webkit-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.card-icon__favorite--active {
	opacity: 0;
}

.card-main__slide-favorite.is-active .card-icon__favorite--active {
	opacity: 1;
}

.card-main__slide-favorite.is-active .card-icon__favorite--default {
	opacity: 0;
}

html:not(.bx-touch) .card-main__slide-favorite:hover .card-icon__favorite--active {
	opacity: 1;
}

html:not(.bx-touch) .card-main__slide-favorite:hover .card-icon__favorite--default {
	opacity: 0;
}

.btn-slider__style {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
									border-radius: 50%;
	background: var(--main-color);
}

.btn-slider__style img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -7px;
	margin-left: -5px;
}

.card-block__advantages {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

.card-advantages__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
					-ms-flex-wrap: wrap;
									flex-wrap: wrap;
	margin-left: -26px;
	margin-right: -26px;
}

.card-advantages__list-item {
	padding-left: 26px;
	padding-right: 26px;
	display: block;
	float: left;
	width: -moz-calc(100% / 6);
	width: calc(100% / 6);
	width: -webkit-calc(100% / 6);
}

.card-advantages__item-head {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	float: left;
	margin-bottom: 7px;
}

.card-advantages__item-icon {
	-webkit-flex-shrink: 0;
					-ms-flex-negative: 0;
									flex-shrink: 0;
	margin-right: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
				-moz-box-pack: center;
					-ms-flex-pack: center;
									justify-content: center;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
				-moz-box-align: start;
					-ms-flex-align: start;
									align-items: flex-start;
}

.card-advantages__item-title {
	font: 600 16px/20px "Montserrat";
	text-transform: uppercase;
	color: #FFFFFF;
	opacity: 0.8;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
				-moz-box-align: center;
					-ms-flex-align: center;
									align-items: center;
}

.card-advantages__item-desc {
	display: block;
	float: left;
	width: 100%;
	font: 400 14px/17px "Montserrat";
	color: #FFFFFF;
	opacity: 0.5;
}

.card-advantages__item-desc p {
	margin: 0 !important;
	font: 400 14px/17px "Montserrat";
	color: #FFFFFF;
	opacity: 0.5;
}

.card-block__tabs {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 55px;
}

.card-tabs__list {
	background: #282828;
	-webkit-border-radius: 8px;
				-moz-border-radius: 8px;
									border-radius: 8px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
					-ms-flex-wrap: wrap;
									flex-wrap: wrap;
}

.card-tabs__item {
	padding: 15px 29px 15px;
	position: relative;
	font: 500 20px/24px "Montserrat";
	color: #FFFFFF;
	cursor: pointer;
}

.card-tabs__item:not(:last-child)::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
	height: 20px;
	width: 2px;
	background: rgba(255, 255, 255, 0.1);
}

.card-tabs__item:first-child {
	padding-left: 20px;
}

.card-tabs__item span {
	display: block;
	-webkit-border-radius: 7px;
				-moz-border-radius: 7px;
									border-radius: 7px;
	padding: 15px;
	-webkit-transition: background 0.25s;
	-o-transition: background 0.25s;
	-moz-transition: background 0.25s;
	transition: background 0.25s;
}

.card-tabs__item.is-active span {
	background: rgba(255, 255, 255, 0.1);
}

.card-tabs__list-container {
	display: inline-block;
}

html:not(.bx-touch) .card-tabs__item:hover span {
	background: rgba(255, 255, 255, 0.1);
}

.card-block__tabs-container {
	display: block;
	width: 100%;
	float: left;
	margin-top: 30px;
}

.card-tab__content {
	display: none;
	float: left;
	width: 100%;
}

.card-tab__content.is-active {
	display: block;
}

.card-block__tab-feature {
	display: block;
	float: left;
	width: 100%;
}

.card-block__tab-feature--list {
	display: block;
	float: left;
	width: 100%;
}

.card-block__tab-feature-item {
	float: left;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 32px 0 33px;
	font: 400 16px/20px "Montserrat";
	color: #FFFFFF;
	-webkit-box-align: center;
	-webkit-align-items: center;
				-moz-box-align: center;
					-ms-flex-align: center;
									align-items: center;
}

.card-block__tab-feature-item {
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.card-block__tab-feature-title {
	-webkit-flex-shrink: 0;
					-ms-flex-negative: 0;
									flex-shrink: 0;
	white-space: nowrap;
	padding-right: 30px;
	opacity: 0.5;
}

.card-block__tab-feature-content {
	font-weight: 600;
	text-align: right;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
				-moz-box-flex: 1;
					-ms-flex-positive: 1;
									flex-grow: 1;
	min-width: 1px;
}

.clear {
	clear: both;
}

.hit-slider__new-style {
	max-width: 1753px;
	margin-left: -25px;
}

.hit-slider .hit-slider__new-style .ncat-item {
	max-width: 100%;
	padding: 0 25px;
}

.card__slider.card__slider-new__style {
	margin-bottom: 185px;
}

.inner-content__form.section-form.content__form-new__style .wrapper {
	max-width: 1703px;
}

.inner-content__form.section-form.content__form-new__style .main-form {
	padding-left: 0;
	padding-right: 0;
}

.card-block__equipment {
	display: block;
	float: left;
	width: 100%;
	margin-top: -10px;
}

.card-colors__list {
	margin-left: -15px;
	margin-right: -15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
					-ms-flex-wrap: wrap;
									flex-wrap: wrap;
}

.card-colors__block {
	padding-left: 15px;
	padding-right: 15px;
	margin: 15px 0;
	width: 155px;
}

.card__color--label {
	display: block;
	width: 100%;
	float: left;
	height: 100%;
	padding: 10px;
	cursor: pointer;
	position: relative;
}

.card__color--input {
	display: none;
}

.card__color--input:checked ~ .card__color--name::before {
	opacity: 1;
}

.card__color--bg {
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
						border-radius: 7px;
	width: 69px;
	height: 69px;
	background-position: center !important;
	-webkit-background-size: cover !important;
				-moz-background-size: cover !important;
									background-size: cover !important;
	background-repeat: no-repeat !important;
	display: block;
	position: relative;
	z-index: 1;
}
.card__color-hover {
	position: absolute;
	z-index: 5;
	top: -313px;
	left: 40px;
	height: 340px;
	width: 262px;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s,visibility .2s;
	background-size: cover !important;
	background-position: top center;
	border: 1px solid var(--thrid-color);
	/* left: -225px; */
}
html:not(.bx-touch) .card__color--label:hover {
	z-index: 2;
}
html:not(.bx-touch) .card__color--bg:hover .card__color-hover {
	opacity: 1;
	visibility: visible;
}

.card__color--name {
	margin-top: 20px;
	font: 500 16px/20px "Montserrat";
	color: #FFFFFF;
	display: block;
	float: left;
	width: 100%;
	-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
	overflow: hidden;
}

.card__color--name::before {
	content: "";
	opacity: 0;
	-webkit-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #FF6600;
	-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
									border-radius: 10px;
}

.tab-block__equipment-container {
	display: block;
	width: 100%;
	float: left;
	margin-top: 15px;
}

.card-block__colors {
	display: block;
	width: 100%;
	float: left;
	margin-top: -25px;
}

.card-block__description {
	display: block;
	width: 100%;
	float: left;
}

.card-block__description p {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	opacity: 0.5;
	margin-bottom: 7px;
}

.card-block__description p:last-child {
	margin-bottom: 0;
}

.card-block__reviews {
	display: block;
	width: 100%;
	float: left;
}

.card-block__reviews-list {
	display: block;
	width: 100%;
	float: left;
}

.card-block__review-item {
	display: block;
	width: 100%;
	float: left;
}

.card-block__review-item:not(:last-child) {
	margin-bottom: 31px;
}

.card-block__review-head {
	float: left;
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
				-moz-box-align: center;
					-ms-flex-align: center;
									align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
				-moz-box-pack: justify;
					-ms-flex-pack: justify;
									justify-content: space-between;
}

.card-block__review-author {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
}

.card-block__review-author__icon {
	-webkit-flex-shrink: 0;
					-ms-flex-negative: 0;
									flex-shrink: 0;
	margin-right: 15px;
}

.card-block__review-author__avatar {
	background: #D9D9D9;
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
									border-radius: 50%;
	display: block;
	float: left;
	background-position: center !important;
	-webkit-background-size: cover !important;
				-moz-background-size: cover !important;
									background-size: cover !important;
	background-repeat: no-repeat !important;
}

.card-block__review-author__name {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
				-moz-box-align: center;
					-ms-flex-align: center;
									align-items: center;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
}

.card-block__review-body {
	margin-top: 16px;
	display: block;
	float: left;
	width: 100%;
}

.card-block__review-body p {
	margin-bottom: 7px;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	opacity: 0.5;
}

.card-block__review-body p:last-child {
	margin-bottom: 0;
}

.card-block__review-stars {
	-webkit-flex-shrink: 0;
					-ms-flex-negative: 0;
									flex-shrink: 0;
}

.card-review__stars-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
				-moz-box-align: center;
					-ms-flex-align: center;
									align-items: center;
}

.card-review__stars-item {
	background: url("../img-card/icon/svg/icon-star-default.svg") no-repeat center;
	width: 30px;
	height: 30px;
	display: block;
}

.card-review__stars-item:not(:last-child) {
	margin-right: 5px;
}

.card-review__stars-list.star-1 .card-review__stars-item:first-child {
	background: url("../img-card/icon/svg/icon-star-active.svg") no-repeat center;
}

.card-review__stars-list.star-2 .card-review__stars-item:first-child,
.card-review__stars-list.star-2 .card-review__stars-item:nth-child(2) {
	background: url("../img-card/icon/svg/icon-star-active.svg") no-repeat center;
}

.card-review__stars-list.star-3 .card-review__stars-item:first-child,
.card-review__stars-list.star-3 .card-review__stars-item:nth-child(2),
.card-review__stars-list.star-3 .card-review__stars-item:nth-child(3) {
	background: url("../img-card/icon/svg/icon-star-active.svg") no-repeat center;
}

.card-review__stars-list.star-4 .card-review__stars-item:first-child,
.card-review__stars-list.star-4 .card-review__stars-item:nth-child(2),
.card-review__stars-list.star-4 .card-review__stars-item:nth-child(3),
.card-review__stars-list.star-4 .card-review__stars-item:nth-child(4) {
	background: url("../img-card/icon/svg/icon-star-active.svg") no-repeat center;
}

.card-review__stars-list.star-5 .card-review__stars-item:first-child,
.card-review__stars-list.star-5 .card-review__stars-item:nth-child(2),
.card-review__stars-list.star-5 .card-review__stars-item:nth-child(3),
.card-review__stars-list.star-5 .card-review__stars-item:nth-child(4),
.card-review__stars-list.star-5 .card-review__stars-item:nth-child(5) {
	background: url("../img-card/icon/svg/icon-star-active.svg") no-repeat center;
}

.card-block__review-all {
	display: block;
	width: 100%;
	float: left;
	margin-top: 30px;
}

.card-block__review-all a {
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FF6600;
	position: relative;
	text-decoration: none !important;
	-webkit-transition: color 0.25s;
	-o-transition: color 0.25s;
	-moz-transition: color 0.25s;
	transition: color 0.25s;
	padding-right: 21px;
	border: 0 !important;
}

.card-block__review-all a::before,
.card-block__review-all a::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -6px;
	width: 8px;
	height: 12px;
	-webkit-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.card-block__review-all a::before {
	background: url("../img-card/icon/svg/icon-arrow-review-orange.svg") no-repeat center;
}

.card-block__review-all a::after {
	opacity: 0;
	background: url("../img-card/icon/svg/icon-arrow-review-white.svg") no-repeat center;
}

html:not(.bx-touch) .card-block__review-all a:hover {
	color: #fff;
}

html:not(.bx-touch) .card-block__review-all a:hover::before {
	opacity: 0;
}

html:not(.bx-touch) .card-block__review-all a:hover::after {
	opacity: 1;
}

.card-block__review-add {
	display: block;
	width: 100%;
	float: left;
	margin-top: 48px;
}

.card-block__review-add a {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	padding: 24px 30px;
	display: inline-block;
	color: #FFFFFF;
	-webkit-border-radius: 48px;
				-moz-border-radius: 48px;
									border-radius: 48px;
}

.images-uploaded__block {
	position: relative;
	display: block;
	float: left;
	width: 100%;
}

.images-upload__file {
	width: 100%;
	display: block;
	height: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
}

.file-upload__label {
	padding-left: 78px;
	position: relative;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: #777777;
	cursor: pointer;
	width: 100%;
	display: block;
	min-height: 58px;
	padding-top: 1px;
}

.file-upload__label::before {
	content: "";
	display: block;
	position: absolute;
	width: 58px;
	height: 58px;
	left: 0;
	top: 0;
	border: 1px solid #777777;
	-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
									border-radius: 12px;
	background: url("../img-card/icon/svg/icon-upload-images.svg") no-repeat center;
}

.images-upload__file-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
				-moz-box-orient: vertical;
				-moz-box-direction: normal;
					-ms-flex-direction: column;
									flex-direction: column;
	float: left;
	width: 100%;
}

.images-upload__file-title > span:first-child {
	font-weight: 500;
	font-size: 17px;
	line-height: 29px;
	color: #FF6600;
	margin-bottom: 4px;
}

.images-upload__file-title > span:first-child span {
	position: relative;
	padding-right: 16px;
	display: inline-block;
}

.images-upload__file-title > span:first-child span::after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	background: url("../img-card/icon/svg/icon-arrrow-upload-file.svg") no-repeat center;
	width: 6px;
	height: 9px;
	margin-top: -4px;
}

.file-upload__name, .form-text__error {
	display: none;
	float: left;
	width: 100%;
	margin-top: 10px;
	font-size: 12px;
	color: #fff;
}

.form-text__error {
	color: red;
}

.popup-form__review textarea {
	min-height: 105px;
	min-width: 100%;
	max-width: 100%;
}

.modal-review__stars {
	display: block;
	width: 100%;
	float: left;
}

.modal-review__stars-list {
	background: #3D3D3D;
	-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
									border-radius: 5px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
				-moz-box-align: center;
					-ms-flex-align: center;
									align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
				-moz-box-pack: center;
					-ms-flex-pack: center;
									justify-content: center;
	height: 70px;
}

.modal-review__star-input {
	display: none;
}

.modal-review__star-item {
	position: relative;
}

.modal-review__star-item:not(:last-child) {
	margin-right: 10px;
}

.modal-review__star-btn {
	display: block;
	width: 42px;
	height: 42px;
	text-decoration: none !important;
	border: 0 !important;
	position: relative;
	cursor: pointer;
}

.modal-review__star-btn::before,
.modal-review__star-btn::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.25s;
	-o-transition: opacity 0.25s;
	-moz-transition: opacity 0.25s;
	transition: opacity 0.25s;
}

.modal-review__star-btn::before {
	background: url("../img-card/icon/svg/icon-star-big-default.svg") no-repeat center;
}

.modal-review__star-btn::after {
	background: url("../img-card/icon/svg/icon-star-big-active.svg") no-repeat center;
	opacity: 0;
}

.modal-review__stars-list[data-star=star-1] li:first-child .modal-review__star-btn::before {
	opacity: 0;
}

.modal-review__stars-list[data-star=star-1] li:first-child .modal-review__star-btn::after {
	opacity: 1;
}

.modal-review__stars-list[data-star=star-2] li:first-child .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-2] li:nth-child(2) .modal-review__star-btn::before {
	opacity: 0;
}

.modal-review__stars-list[data-star=star-2] li:first-child .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-2] li:nth-child(2) .modal-review__star-btn::after {
	opacity: 1;
}

.modal-review__stars-list[data-star=star-3] li:first-child .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-3] li:nth-child(2) .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-3] li:nth-child(3) .modal-review__star-btn::before {
	opacity: 0;
}

.modal-review__stars-list[data-star=star-3] li:first-child .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-3] li:nth-child(2) .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-3] li:nth-child(3) .modal-review__star-btn::after {
	opacity: 1;
}

.modal-review__stars-list[data-star=star-4] li:first-child .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-4] li:nth-child(2) .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-4] li:nth-child(3) .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-4] li:nth-child(4) .modal-review__star-btn::before {
	opacity: 0;
}

.modal-review__stars-list[data-star=star-4] li:first-child .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-4] li:nth-child(2) .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-4] li:nth-child(3) .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-4] li:nth-child(4) .modal-review__star-btn::after {
	opacity: 1;
}

.modal-review__stars-list[data-star=star-5] li:first-child .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-5] li:nth-child(2) .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-5] li:nth-child(3) .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-5] li:nth-child(4) .modal-review__star-btn::before,
.modal-review__stars-list[data-star=star-5] li:nth-child(5) .modal-review__star-btn::before {
	opacity: 0;
}

.modal-review__stars-list[data-star=star-5] li:first-child .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-5] li:nth-child(2) .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-5] li:nth-child(3) .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-5] li:nth-child(4) .modal-review__star-btn::after,
.modal-review__stars-list[data-star=star-5] li:nth-child(5) .modal-review__star-btn::after {
	opacity: 1;
}

.popup-form__review .popup-form__inputs--1 .default-input:not(:first-child) {
	margin: 30px 0 0;
}

.modal-review__submit .popup-form__submit {
	padding: 21px 53px 19px 30px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	background-image: url("../img-card/icon/svg/icon-arrow-review-white2.svg");
	background-position: center right 28px;
	background-repeat: no-repeat;
}

.modal-review__submit .form-req {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-left: 30px;
}

.modal-review__submit .form-req a {
	font-weight: 500;
}

.popup-form__review-add {
	padding-bottom: 40px !important;
	width: 585px;
}

.popup-form__review-add .popup-form__title {
	font-weight: 500;
}
.card-slide__dote {
	position: absolute;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	cursor: pointer;
}
.card-slide__dote::before {
	content: "";
	left: 50%;
	top: 50%;
	background: #282828;
	border: 2px solid #626262;
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -10px;
	position: absolute;
	border-radius: 50%;	
	transition: background 0.25s, border-color 0.25s;
}
.tooltip_templates {
	display: none;
}
html:not(.bx-touch) .card-slide__dote:hover .card-slide__dote::before {
	background: #FFFFFF;
	border-color:#BBB0B0;
}
.tooltip__templates-dote {
	background: #333333;
	max-width: 310px;
	width: 100%;
	display: block;
	float: left;
	padding: 20px 20px 18px;
	border-radius: 6px;
}
.dote__colors-list {
	display: flex;
	flex-wrap: wrap;
	margin: -5px;
}
.dote__colors-list li {
	width: 40px;
	padding: 5px;
}
.dote__colors-list li a {
	display: block;
	width: 100%;
	height: 30px;
	border-radius: 2px;
}
.dote__colors-title {
	margin-top: 12px;
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
.tooltipster-dote {
	max-width: 310px;
}
.tooltipster-dote.tooltipster-sidetip .tooltipster-box {
	border: 0;
	background: #333333;
	border-radius: 6px;
}
.tooltipster-dote .tooltipster-arrow {
	display: none !important;
}
.tooltipster-dote.tooltipster-sidetip .tooltipster-content {
	padding: 0 !important;
}
.tooltipster-dote.tooltipster-show {
	height: auto !important;
}

/* 222222222 */
@media (min-width: 1366px) {
	.card__slider.card__slider-new__style .swiper-button-prev::after,
.card__slider.card__slider-new__style .swiper-button-next::after {
			display: none !important;
	}

	.card__slider.card__slider-new__style .swiper-button-prev,
.card__slider.card__slider-new__style .swiper-button-next {
			width: 70px;
			height: 70px;
			-webkit-transform: rotate(0);
						-moz-transform: rotate(0);
							-ms-transform: rotate(0);
								-o-transform: rotate(0);
											transform: rotate(0);
			-webkit-transform: -webkit-rotate(0);
											transform: -webkit-rotate(0);
	}

	.card__slider.card__slider-new__style .swiper-button-prev::before,
.card__slider.card__slider-new__style .swiper-button-next::before {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
	}

	.card__slider.card__slider-new__style .swiper-button-prev::before {
			background: url("../img-card/icon/svg/icon-arrow-prev-white.svg") no-repeat center;
	}

	.card__slider.card__slider-new__style .swiper-button-next::before {
			background: url("../img-card/icon/svg/icon-arrow-next-white.svg") no-repeat center;
	}
}
@media (max-width: 1919px) {
	.card-block__slider {
			width: -webkit-calc(100% + 20px);
			width: -moz-calc(100% + 20px);
			width: calc(100% + 20px);
			margin-bottom: 14px;
	}

	.card-main__slider .swiper-button-next {
			right: 28px;
	}

	.card-block__title h1 {
			font-size: 40px;
			line-height: 49px;
	}

	.card-btn__action {
			padding: 17px 30px;
			font-weight: 600;
			font-size: 12px;
			line-height: 15px;
	}

	.card-block__action-list {
			margin-left: -10px;
			margin-right: -10px;
	}

	.card-block__action-list li {
			padding-left: 10px;
			padding-right: 10px;
	}

	.btn-icon--arrow {
			width: 7px;
	}

	.btn-icon--arrow img {
			max-width: 100%;
			display: block;
			height: auto;
	}

	.card-advantages__list {
			margin-left: -17px;
			margin-right: -17px;
	}

	.card-advantages__list-item {
			padding-left: 17px;
			padding-right: 17px;
	}

	.card-advantages__item-desc {
			display: none;
	}

	.card-advantages__item-title {
			font-size: 14px;
			line-height: 17px;
	}

	.card-advantages__item-head {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
						-moz-box-orient: vertical;
						-moz-box-direction: normal;
							-ms-flex-direction: column;
											flex-direction: column;
			margin-bottom: 0;
	}

	.card-advantages__item-icon {
			-webkit-box-pack: start;
			-webkit-justify-content: flex-start;
						-moz-box-pack: start;
							-ms-flex-pack: start;
											justify-content: flex-start;
			margin-bottom: 15px;
			margin-right: 0;
	}

	.card-block__advantages {
			margin-bottom: 20px;
	}

	.card-tabs__item {
			font-size: 16px;
			line-height: 20px;
			padding: 15px 25px 15px;
	}

	.card-block__tabs {
			margin-bottom: 0;
	}

	.hit-slider .hit-slider__new-style .ncat-item {
			padding: 0 15px;
	}

	.hit-slider__new-style {
			margin-left: -15px;
	}

	.card__slider.card__slider-new__style {
			margin-bottom: 105px;
	}

	.card-main__slider .swiper-button-prev {
			left: 20px;
	}

	.card-main__slider .swiper-button-next {
			right: 20px;
	}
}
/* end 1919px */
@media (max-width: 1365px) {
	.card__slider-new__style .hit-slider__title-arrows .swiper-button-next::after,
.card__slider-new__style .hit-slider__title-arrows .swiper-button-prev::after {
			right: -webkit-calc(50% - 2px);
			right: -moz-calc(50% - 2px);
			right: calc(50% - 2px);
	}

	.popup-form__review-add .popup-form__title {
			font-size: 30px;
			line-height: 45px;
	}
}
@media (max-width: 1210px) {
	.card-block__slider {
			width: 100%;
	}

	.card-main__slider:not(.swiper-container-initialized) .card-main__slide {
			margin-right: 0 !important;
	}

	.card-main__slide {
			margin-right: 0 !important;
	}

	.card-main__slide-favorite {
			top: 30px;
			right: 30px;
	}

	/* .hit-slider__new-style .swiper-slide {
		margin-right: 0 !important;
	} */
}
/* end 1210px */
@media (max-width: 1100px) {
	.hit-slider .hit-slider__new-style .ncat-item {
			padding: 0;
	}

	.hit-slider__new-style {
			margin-left: 0;
	}
}
/* end 1100px */
@media (max-width: 1023px) {
	.btn-slider__style {
			width: 50px;
			height: 50px;
	}

	.card-advantages__list {
			margin-left: -12px;
			margin-right: -12px;
	}

	.card-advantages__list-item {
			padding-left: 12px;
			padding-right: 12px;
			width: 25%;
			margin-bottom: 10px;
	}

	.card-block__advantages {
			margin-bottom: 25px;
	}

	.card-tabs__item {
			font-size: 14px;
			line-height: 17px;
			padding: 10px 20px;
	}

	.card-tabs__item span {
			padding: 10px;
	}

	.card-tabs__item:first-child {
			padding-left: 15px;
	}

	.card-block__tab-feature-item {
			font-size: 12px;
			line-height: 15px;
	}

	.card-block__tab-feature-item:first-child {
			padding-top: 20px;
	}

	.card-block__tabs-container {
			margin-top: 10px;
	}

	.card-block__equipment {
			margin-top: 0;
	}

	.card__color--name {
			font-size: 12px;
			line-height: 15px;
	}

	.card-block__colors {
			margin-top: 0;
	}

	.card-block__description {
			margin-top: 10px;
	}

	.card-block__reviews {
			margin-top: 20px;
	}
}
/* end 1023px */
@media (max-width: 767px) {
	.tooltip__templates-dote {
		max-width: 170px;
		padding: 10px 10px 8px;
	}
	.card-slide__dote::before {
		width: 15px;
		height: 15px;
		margin: -7.5px 0 0 -7.5px;
	}
	.dote__colors-list {
		justify-content: center;
	}
	.dote__colors-title {
		font-weight: 600;
		font-size: 12px;
		line-height: 15px;
		}
	.mobile-hidden {
			display: none !important;
	}

	.card-product__favorite {
			position: relative;
			display: block;
	}

	.card-product__favorite .card-main__slide-favorite {
			position: relative;
			top: 0;
			right: 0;
			width: 40px;
			height: 40px;
	}

	.card-product__favorite .card-main__slide-favorite img {
			width: 20px;
	}

	.card-block__title h1 {
			font-size: 30px;
			line-height: 37px;
	}

	.card-container {
			margin-top: 50px;
	}

	.card-main__slide-block .card-main__slide-favorite {
			display: none !important;
	}

	.card-main__slider .swiper-button-prev {
			left: 10px;
	}

	.card-main__slider .swiper-button-next {
			right: 10px;
	}

	.btn-slider__style {
			width: 40px;
			height: 40px;
	}

	.btn-slider__style img {
			margin-top: -5px;
			margin-left: -3px;
			width: 7px;
	}

	.card-block__action-xs {
			margin-bottom: 30px;
			display: block;
			float: left;
			width: 100%;
	}

	.card-block__slider {
			margin-bottom: 24px;
	}

	.card-advantages__list-item {
			width: 33.33333333%;
			margin-bottom: 18px;
	}

	.card-advantages__item-title {
			font-size: 11px;
			line-height: 14px;
	}

	.card-block__advantages {
			margin-bottom: 31px;
	}

	.card-tabs__item {
			font-size: 12px;
			line-height: 15px;
	}

	.card-tabs__item:last-child {
			padding-right: 15px;
	}

	.card-block__tab-feature-item {
			padding: 16px 0 18px;
	}

	.card__slider.card__slider-new__style {
			margin-bottom: 60px;
	}

	.card-block__description p {
			font-size: 14px;
			line-height: 17px;
			margin-bottom: 8px;
	}

	.card-block__review-head {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
						-moz-box-orient: vertical;
						-moz-box-direction: normal;
							-ms-flex-direction: column;
											flex-direction: column;
			-webkit-box-align: start;
			-webkit-align-items: flex-start;
						-moz-box-align: start;
							-ms-flex-align: start;
											align-items: flex-start;
	}

	.card-block__review-author {
			margin-bottom: 9px;
	}

	.card-block__review-body p {
			font-size: 14px;
			line-height: 21px;
	}

	.card-block__reviews {
			margin-top: 10px;
	}

	.card-block__review-add {
			margin-top: 28px;
	}

	.card-block__review-add a {
			padding: 14px 20px;
			font-size: 16px;
			line-height: 20px;
	}

	.popup-form__review-add .popup-form__text {
			font-size: 12px;
			line-height: 18px;
	}

	.popup-form__review textarea {
			min-height: 54px;
	}

	.modal-review__submit {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
						-moz-box-orient: vertical;
						-moz-box-direction: normal;
							-ms-flex-direction: column;
											flex-direction: column;
	}

	.popup-form__review .popup-form__inputs--1 .default-input:not(:first-child) {
			margin: 20px 0 0;
	}

	.modal-review__submit .popup-form__submit {
			width: 100%;
	}

	.modal-review__submit .form-req {
			margin-top: 30px;
			margin-left: 0 !important;
	}
}
/* end 767px */
@media (max-width: 479px) {
	.tooltip__templates-dote {
		max-width: 130px;
	}
	.dote__colors-title {
		font-weight: 600;
		font-size: 10px;
		line-height: 12px;
	}	
	.images-upload__file-title > span:first-child {
			margin-bottom: 0;
	}

	.btn-style--arrow {
			-webkit-box-pack: center;
			-webkit-justify-content: center;
						-moz-box-pack: center;
							-ms-flex-pack: center;
											justify-content: center;
	}

	.card-btn__action {
			text-align: center;
	}

	.card-block__action-list {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-webkit-flex-direction: column;
						-moz-box-orient: vertical;
						-moz-box-direction: normal;
							-ms-flex-direction: column;
											flex-direction: column;
			margin-left: 0;
			margin-right: 0;
			width: 100%;
	}

	.card-block__action-list li {
			padding-left: 0;
			padding-right: 0;
			width: 100%;
	}

	.card-block__action-list li:not(:last-child) {
			margin-bottom: 10px;
	}

	.file-upload__label::before {
			width: 40px;
			height: 40px;
			-webkit-border-radius: 8px;
						-moz-border-radius: 8px;
											border-radius: 8px;
			-webkit-background-size: 21px 21px;
						-moz-background-size: 21px;
											background-size: 21px;
			top: 1px;
	}

	.modal-review__submit .form-req {
			font-size: 12px;
			line-height: 18px;
	}

	.images-upload__file-title > span:first-child {
			font-size: 14px;
			line-height: 24px;
	}

	.modal-review__star-item:not(:last-child) {
			margin-right: 0;
	}

	.file-upload__label {
			font-size: 12px;
			line-height: 18px;
			padding-left: 50px;
			min-height: 50px;
	}

	.popup-form__review-add .popup-form__text {
			font-size: 10px;
			line-height: 15px;
	}

	.popup-form__review-add .popup-form__title {
			font-size: 20px;
			line-height: 30px;
	}

	.card-block__review-body p {
			font-size: 12px;
			line-height: 18px;
	}

	.card-block__description p {
			font-size: 12px;
			line-height: 15px;
	}

	.card-block__tab-feature-item {
			font-size: 10px;
			line-height: 12px;
	}

	.card-advantages__list-item {
			width: 50%;
	}

	.card-block__title h1 {
			font-size: 20px;
			line-height: 24px;
	}

	.card-tags__btn {
			font-size: 10px;
			line-height: 12px;
	}

	.card-tags__list {
			margin-left: -3px;
			margin-right: -3px;
	}

	.card-tags__list li {
			padding-left: 3px;
			padding-right: 3px;
			margin: 3px 0;
	}
}
/* end 479px */